.App {
  text-align: center;
}

.App-main {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.down_arrow {
  width: 25vw;
  height: 60vh;
  background-color: rgb(160, 74, 74);
  padding: 25px;
  border-radius: 100%;
}

@media screen and (min-width: 440px) {
  .MainParagraph {
    display: initial;
  }
}
